.container {
	position: relative;
	height: 60px;
	width: 65px;
	border: solid 3px transparent;
	border-radius: 25%;
	overflow: hidden;
	&:hover {
		border-color: var(--color-hl1);
	}
	&:hover .container_life {
		transition-duration: 300ms;
		opacity: 1;
	}
	& img {
		width: 100%;
		object-fit: cover;
	}
	&_life {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 1.5rem;
		font-weight: 700;
		opacity: 0;
		transition-duration: 300ms;
	}
	&_warning {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(221, 12, 12, 0.5);
		animation: fadeInOut 1200ms infinite;
	}
}

@keyframes fadeInOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
