.container {
	width: 100%;
	display: flex;
	gap: 10px;
	&_nav {
		width: 300px;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		border-right: solid 2px black;
	}
	&_right {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	&_list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}
}

.no_group {
	width: 100%;
	text-align: center;
}

.groupCard {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	& p {
		font-weight: 700;
		cursor: pointer;
		&:hover {
			color: var(--color-hl1);
		}
	}
}

.option {
	display: flex;
	justify-content: space-around;
	align-items: center;
	&_icone {
		cursor: pointer;
		width: 15px;
		&:hover {
			fill: var(--color-hl1);
		}
	}
}
