.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.dashboard {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
	border-top: solid 2px black;
	&_menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		width: 200px;
		border-right: solid 2px black;
		&__item {
			width: 100%;
			display: flex;
			align-items: center;
			border-radius: 15px;
			padding: 10px 40px;
			gap: 10px;
			cursor: pointer;
			&:hover p {
				color: var(--color-hl1);
			}
			& p {
				font-size: 1.1rem;
				font-weight: 700;
			}
			& img {
				height: 100px;
			}
			&_group {
				display: flex;
				flex-direction: column;
				align-items: center;
				&_nav {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 20px;
				}
				&_list {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					gap: 10px;
				}
			}
		}
	}
	&_window {
		display: flex;
		justify-content: center;
		padding: 20px;
		width: 100%;
	}
}

.no_group {
	width: 100%;
	text-align: center;
}

.groupCard {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	& p {
		font-weight: 700;
		cursor: pointer;
		&:hover {
			color: var(--color-hl1);
		}
	}
}

.active {
	color: var(--color-hl1);
}

.option {
	display: flex;
	justify-content: space-around;
	align-items: center;
	&_icone {
		cursor: pointer;
		width: 15px;
		&:hover {
			fill: var(--color-hl1);
		}
	}
}
