.container {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 10px;
   gap: 20px;
}

h3 {
   font-size: 1.5em;
}

.form {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.form label {
   align-self: flex-start;
   font-size: 1.2em;
   font-weight: 500;
}

.form input {
   text-align: center;
   font-size: 1em;
}

.pictureForm {
   width: 80%;
   padding: 10px;
   border: solid 2px grey;
   border-radius: 25px;
}

.pictureForm img {
   width: 200px;
   height: 200px;
   object-fit: cover;
}

.inputContainer {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.inputContainer input.inputLife {
   width: 100px;
}

.textArea {
   margin: 10px;
   padding: 10px;
   width: 75%;
   height: 80px;
}

.button {
   width: 40%;
   background-color: #5d557c;
   color: white;
   padding: 5px;
   border-radius: 5px;
   font-size: 1.1em;
   font-weight: 700;
}

.checkboxContainer {
   width: 80%;
   padding: 5px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.checkbox {
   display: flex;
   justify-content: center;
   width: 45%;
   gap: 5px;
}
