.playersContainer {
	padding: 10px 10px 10px 60px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 20px 80px;
}

@media screen and (max-width: 700px) {
	.playersContainer {
		padding: 10px 10px 10px 40px;
	}
}
